# Ignore pem key
*.pem

# Ignore compiled python
*.pyc

# We don't need to keep track of this
test/*
train/*
expr_train/*

log/*
data/*
checkpoint/*

# To simulate empty directories
!log/.keep
!data/.keep
!checkpoint/.keep

# Ignore misc garbage
.ipynb_checkpoints/*
.DS_Store
*.ipynb
